venv/
multiple-linear-regression/pipfreeze.ps1
multiple-linear-regression/.ipynb_checkpoints/diamondRegression-checkpoint.py
multiple-linear-regression/.ipynb_checkpoints/diamondRegression-checkpoint.ipynb
multiple-linear-regression/.ipynb_checkpoints/diamonds-checkpoint.csv
